main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-counter-row {
    display: flex;
    flex-direction: row;
}

#boost-shop {}

.main-row-group {
    padding-bottom: 8px;
}